<br>
<div class="jumbotron">
  <h1>Loggit</h1>
  <p>Loggit is a resource for sharing links and ideas with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Connect</h2>
    <p>Interact with an online community and find people who share your interests.</p>
  </div>
  <div class="col-md-4">
    <h2>Comment</h2>
    <p>Let your voice be heard (in a respectful and kind manner, of course).</p>
  </div>
  <div class="col-md-4">
    <h2>Explore</h2>
    <p>Find new and exciting topics that expand your mind and world.</p>
  </div>
</div>
